.backimg{
    width: 100%;
    height: 92vh;
    position: relative;
}
.backimg .gymimg{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: -1;
}
.tranform{
    font-size: 75px;
    font-weight: bold;
    color: white;
}